.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #eeeeee;

  .scene {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .imageContainer {
    position: absolute;
    width: 200px;
    height: 220px;
    z-index: 10;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1.5px;
    width: 0;
    background: black;
    z-index: 101;
  }

  .heading {
    z-index: 101;
    margin-left: 800px;
    text-align: right;
    h1 {
      font-family: "Roboto", sans-serif;
      font-size: 8rem;
      font-weight: 600;
      color: #000;
    }
  }
}